In [2]:
%load_ext sql

In [3]:
%sql postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics

In [52]:
%%sql SELECT *
FROM us_pumpkin_prices
LIMIT 2

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
2 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None)]

In [54]:
%%sql SELECT COUNT(*)
FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1757,)]

In [55]:
%%sql SELECT COUNT("Item Size")
FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1478,)]

In [56]:
%%sql SELECT SUM("Low Price")
FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(218871.8399999998,)]

In [57]:
%sql SELECT MAX("High Price") FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(480.0,)]

In [58]:
%sql SELECT MIN("Low Price") FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(0.24,)]

In [59]:
%sql SELECT MAX("City Name") FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[('ST. LOUIS',)]

In [60]:
%sql SELECT MIN("City Name") FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[('ATLANTA',)]

In [61]:
%sql SELECT AVG("High Price") FROM us_pumpkin_prices

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(132.97093910073977,)]

In [62]:
%sql SELECT "Variety" FROM us_pumpkin_prices GROUP BY "Variety"

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
11 rows affected.

[('HOWDEN TYPE',),
 ('BLUE TYPE',),
 ('BIG MACK TYPE',),
 ('MIXED HEIRLOOM VARIETIES',),
 (None,),
 ('KNUCKLE HEAD',),
 ('HOWDEN WHITE TYPE',),
 ('CINDERELLA',),
 ('PIE TYPE',),
 ('MINIATURE',),
 ('FAIRYTALE',)]

In [63]:
%sql SELECT "Variety", COUNT(*) FROM us_pumpkin_prices GROUP BY "Variety"

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
11 rows affected.

[('HOWDEN TYPE', 542),
 ('BLUE TYPE', 19),
 ('BIG MACK TYPE', 74),
 ('MIXED HEIRLOOM VARIETIES', 57),
 (None, 5),
 ('KNUCKLE HEAD', 20),
 ('HOWDEN WHITE TYPE', 49),
 ('CINDERELLA', 81),
 ('PIE TYPE', 468),
 ('MINIATURE', 310),
 ('FAIRYTALE', 132)]

In [5]:
%%sql SELECT "City Name", "Variety", COUNT(*) 
FROM us_pumpkin_prices 
GROUP BY "City Name", "Variety" 
HAVING MAX("High Price") > 300 
ORDER BY "City Name" ASC

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[('BALTIMORE', 'CINDERELLA', 25),
 ('COLUMBIA', 'MINIATURE', 54),
 ('LOS ANGELES', 'HOWDEN TYPE', 21),
 ('SAN FRANCISCO', 'PIE TYPE', 45),
 ('SAN FRANCISCO', 'HOWDEN TYPE', 37)]

In [4]:
%%sql SELECT "City Name", "Variety"
FROM us_pumpkin_prices 
GROUP BY "City Name", "Variety" 
HAVING MIN("Low Price") >= 5 
ORDER BY "Variety"

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
75 rows affected.

[('NEW YORK', 'BIG MACK TYPE'),
 ('SAN FRANCISCO', 'BIG MACK TYPE'),
 ('DALLAS', 'BIG MACK TYPE'),
 ('BALTIMORE', 'BIG MACK TYPE'),
 ('BOSTON', 'BIG MACK TYPE'),
 ('BOSTON', 'BLUE TYPE'),
 ('SAN FRANCISCO', 'BLUE TYPE'),
 ('COLUMBIA', 'BLUE TYPE'),
 ('DALLAS', 'CINDERELLA'),
 ('BOSTON', 'CINDERELLA'),
 ('BALTIMORE', 'CINDERELLA'),
 ('COLUMBIA', 'CINDERELLA'),
 ('SAN FRANCISCO', 'CINDERELLA'),
 ('COLUMBIA', 'FAIRYTALE'),
 ('CHICAGO', 'FAIRYTALE'),
 ('BOSTON', 'FAIRYTALE'),
 ('BALTIMORE', 'FAIRYTALE'),
 ('DALLAS', 'FAIRYTALE'),
 ('SAN FRANCISCO', 'FAIRYTALE'),
 ('LOS ANGELES', 'HOWDEN TYPE'),
 ('BOSTON', 'HOWDEN TYPE'),
 ('COLUMBIA', 'HOWDEN TYPE'),
 ('MIAMI', 'HOWDEN TYPE'),
 ('SAN FRANCISCO', 'HOWDEN TYPE'),
 ('DALLAS', 'HOWDEN TYPE'),
 ('CHICAGO', 'HOWDEN TYPE'),
 ('ATLANTA', 'HOWDEN TYPE'),
 ('NEW YORK', 'HOWDEN TYPE'),
 ('ST. LOUIS', 'HOWDEN TYPE'),
 ('BALTIMORE', 'HOWDEN TYPE'),
 ('PHILADELPHIA', 'HOWDEN TYPE'),
 ('DETROIT', 'HOWDEN TYPE'),
 ('DALLAS', 'HOWDEN WHITE TYPE'),
 ('BALTIMORE', 'HOWDEN WHITE TYPE'),
 ('ST. LOUIS', 'HOWDEN WHITE TYPE'),
 ('DETROIT', 'HOWDEN WHITE TYPE'),
 ('CHICAGO', 'HOWDEN WHITE TYPE'),
 ('COLUMBIA', 'HOWDEN WHITE TYPE'),
 ('NEW YORK', 'KNUCKLE HEAD'),
 ('BOSTON', 'KNUCKLE HEAD'),
 ('COLUMBIA', 'KNUCKLE HEAD'),
 ('PHILADELPHIA', 'KNUCKLE HEAD'),
 ('SAN FRANCISCO', 'MINIATURE'),
 ('ST. LOUIS', 'MINIATURE'),
 ('PHILADELPHIA', 'MINIATURE'),
 ('NEW YORK', 'MINIATURE'),
 ('LOS ANGELES', 'MINIATURE'),
 ('BOSTON', 'MINIATURE'),
 ('COLUMBIA', 'MINIATURE'),
 ('ATLANTA', 'MINIATURE'),
 ('CHICAGO', 'MINIATURE'),
 ('BALTIMORE', 'MINIATURE'),
 ('CHICAGO', 'MIXED HEIRLOOM VARIETIES'),
 ('DALLAS', 'MIXED HEIRLOOM VARIETIES'),
 ('COLUMBIA', 'MIXED HEIRLOOM VARIETIES'),
 ('NEW YORK', 'MIXED HEIRLOOM VARIETIES'),
 ('BALTIMORE', 'MIXED HEIRLOOM VARIETIES'),
 ('ST. LOUIS', 'MIXED HEIRLOOM VARIETIES'),
 ('SAN FRANCISCO', 'MIXED HEIRLOOM VARIETIES'),
 ('DETROIT', 'MIXED HEIRLOOM VARIETIES'),
 ('LOS ANGELES', 'PIE TYPE'),
 ('ST. LOUIS', 'PIE TYPE'),
 ('DALLAS', 'PIE TYPE'),
 ('COLUMBIA', 'PIE TYPE'),
 ('MIAMI', 'PIE TYPE'),
 ('SAN FRANCISCO', 'PIE TYPE'),
 ('NEW YORK', 'PIE TYPE'),
 ('BOSTON', 'PIE TYPE'),
 ('BALTIMORE', 'PIE TYPE'),
 ('PHILADELPHIA', 'PIE TYPE'),
 ('CHICAGO', 'PIE TYPE'),
 ('DETROIT', 'PIE TYPE'),
 ('ATLANTA', 'PIE TYPE'),
 ('DALLAS', None),
 ('BALTIMORE', None)]

In [37]:
%sql SELECT * FROM billboard_top_100_year_end LIMIT 2

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
2 rows affected.

[(0, 1956, 1, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1.0),
 (1, 1956, 2, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2.0)]

In [51]:
%sql SELECT artist as "Artist", COUNT(*) AS "Hits" FROM billboard_top_100_year_end GROUP BY artist ORDER BY "Hits" DESC LIMIT 5

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[('Elvis Presley', 36),
 ('Madonna', 36),
 ('Rihanna', 33),
 ('Mariah Carey', 33),
 ('Ludacris', 28)]

In [53]:
%%sql SELECT *
FROM us_pumpkin_prices
LIMIT 2

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
2 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None)]

In [82]:
%sql SELECT "City Name", AVG("High Price" - "Low Price") AS "Difference" FROM us_pumpkin_prices GROUP BY "City Name" ORDER BY "Difference" DESC

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
13 rows affected.

[('BOSTON', 24.394886363636363),
 ('ATLANTA', 14.232456140350877),
 ('NEW YORK', 9.357142857142858),
 ('BALTIMORE', 7.565359477124183),
 ('LOS ANGELES', 5.812096774193549),
 ('PHILADELPHIA', 5.614035087719298),
 ('SAN FRANCISCO', 5.25),
 ('DALLAS', 4.817518248175182),
 ('CHICAGO', 2.6653225806451615),
 ('DETROIT', 1.2272727272727273),
 ('ST. LOUIS', 1.1407766990291262),
 ('COLUMBIA', 0.41825095057034223),
 ('MIAMI', 0.0)]